#hero {
  .node--type-intro {
    position: relative;
    overflow: hidden;
    height: 500px;

    picture {
      display: flex;
      overflow: hidden;
      justify-content: center;
      height: 500px;

      img {
        min-width: 100%;
        max-width: none !important;
        min-height: 100%;
        object-fit: cover;
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      @media (max-width: $screen-sm-max) {
        top: auto;
        bottom: 90px;
        margin: 0 !important;
        padding-bottom: 50px;
      }

      @media (max-width: $screen-md-max) {
        margin-top: 40px;

        h2.title {
          font-size: 35px;
        }

        .field--name-field-intro-text {
          p {
            font-size: 20px;
          }
        }
      }

      @media (min-width: $screen-md-min) {
        margin-top: 100px;
      }

      h2.title {
        position: relative;
        top: 50px;
        margin: 0 0 10px 0;
        padding: 0;
        transition: all 1s;
        transition-delay: 0.2s;
        text-align: left !important;
        letter-spacing: 0;
        opacity: 0;
        color: $white;
        font-size: 60px;
        font-weight: 600;
        line-height: 110%;
      }

      .field--name-field-intro-text {
        p {
          position: relative;
          top: 40px;
          margin: 15px 0 0 0 !important;
          padding: 0;
          transition: all 0.5s;
          transition-delay: 0.5s;
          text-align: left !important;
          letter-spacing: 0.015em;
          text-transform: none;
          opacity: 0;
          color: $white;
          font-size: 28px;
          font-weight: 400;
          line-height: 130%;
        }
      }

      // link
      .field--name-field-intro-link a {
        position: relative;
        top: 30px;
        display: inline-block;
        margin-top: 20px;
        padding: 15px 25px;
        transition: all 0.5s;
        transition-delay: 0.8s;
        opacity: 0;
        color: $white;
        background-color: $primary;
      }
    }
  }

  // active
  .view-intro {
    .tns-slide-active .node--type-intro h2.title {
      top: 0;
      opacity: 1;
    }
  
    .tns-slide-active .node--type-intro .field--name-field-intro-text p {
      top: 0;
      opacity: 1;
    }
  
    .tns-slide-active .node--type-intro .field--name-field-intro-link a {
      top: 0;
      opacity: 1;
    }
  }
}
