// COLORS
$white: #fff;
$primary: #009cde;

// BREAKPOINTS
$screen-xs-min: 320px;
$screen-sm-min: 480px;
$screen-md-min: 850px;
$screen-lg-min: 1360px;

$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
