#hero .node--type-intro {
  position: relative;
  overflow: hidden;
  height: 31.25rem;
}
#hero .node--type-intro picture {
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 31.25rem;
}
#hero .node--type-intro picture img {
  min-width: 100%;
  max-width: none !important;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#hero .node--type-intro .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 849px) {
  #hero .node--type-intro .content {
    top: auto;
    bottom: 5.625rem;
    margin: 0 !important;
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 1359px) {
  #hero .node--type-intro .content {
    margin-top: 2.5rem;
  }
  #hero .node--type-intro .content h2.title {
    font-size: 2.1875rem;
  }
  #hero .node--type-intro .content .field--name-field-intro-text p {
    font-size: 1.25rem;
  }
}
@media (min-width: 850px) {
  #hero .node--type-intro .content {
    margin-top: 6.25rem;
  }
}
#hero .node--type-intro .content h2.title {
  position: relative;
  top: 3.125rem;
  margin: 0 0 0.625rem 0;
  padding: 0;
  transition: all 1s;
  transition-delay: 0.2s;
  text-align: left !important;
  letter-spacing: 0;
  opacity: 0;
  color: #fff;
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 110%;
}
#hero .node--type-intro .content .field--name-field-intro-text p {
  position: relative;
  top: 2.5rem;
  margin: 0.9375rem 0 0 0 !important;
  padding: 0;
  transition: all 0.5s;
  transition-delay: 0.5s;
  text-align: left !important;
  letter-spacing: 0.015em;
  text-transform: none;
  opacity: 0;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 130%;
}
#hero .node--type-intro .content .field--name-field-intro-link a {
  position: relative;
  top: 1.875rem;
  display: inline-block;
  margin-top: 1.25rem;
  padding: 0.9375rem 1.5625rem;
  transition: all 0.5s;
  transition-delay: 0.8s;
  opacity: 0;
  color: #fff;
  background-color: #009cde;
}
#hero .view-intro .tns-slide-active .node--type-intro h2.title {
  top: 0;
  opacity: 1;
}
#hero
  .view-intro
  .tns-slide-active
  .node--type-intro
  .field--name-field-intro-text
  p {
  top: 0;
  opacity: 1;
}
#hero
  .view-intro
  .tns-slide-active
  .node--type-intro
  .field--name-field-intro-link
  a {
  top: 0;
  opacity: 1;
}

#hero .view-intro {
  position: relative;
}
#hero .view-intro .view-content {
  overflow: hidden;
  height: 31.25rem;
}
#hero .view-intro .view-content .views-row {
  margin-bottom: 0;
}
#hero .view-intro .tns-controls button[data-controls='prev'] {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 1.25rem;
  overflow: hidden;
  width: 5rem;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-indent: 18.75rem;
  border: 0;
  background: url('../images/intro-navigation-prev.svg') no-repeat 50% 50%;
  background-size: 1.5625rem;
}
#hero .view-intro .tns-controls button[data-controls='next'] {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 1.25rem;
  overflow: hidden;
  width: 5rem;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-indent: 18.75rem;
  border: 0;
  background: url('../images/intro-navigation-next.svg') no-repeat 50% 50%;
  background-size: 1.5625rem;
}
#hero .view-intro .tns-nav {
  position: absolute;
  z-index: 1;
  bottom: 3.125rem;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 31.25rem;
  margin-left: -15.625rem;
  gap: 0.8125rem;
}
#hero .view-intro .tns-nav button {
  width: 0.8125rem;
  height: 0.8125rem;
  opacity: 0.75;
  border: 0;
  border-radius: 100%;
  background-color: #fff;
}
#hero .view-intro .tns-nav button.tns-nav-active {
  opacity: 1;
  background-color: #009cde;
}
